*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: sans-serif;
    color: #226473;
    margin-left: 7%;
    text-shadow: 1px 1px 2px rgba(8, 45, 53, 0.534);
}

#subtitulo{
    font-family: sans-serif;
    color: #226473;
    margin-left: 10%;
    text-shadow: 1px 1px 2px rgba(8, 45, 53, 0.534);
}

fieldset{
    border: 0;
}

body{   
    background-image: linear-gradient(to right, #E3D5C8, #f3bc89 );
    font-family: sans-serif;
    font-size: 1em;
    color: #8f5704;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select.textarea, button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: #8f5704;
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid #8f5704;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: e0e0f8;
}

.botao {
    font-size: 1.2em;
    background: #8f5704;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 70%;
    left: 48%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao:hover{
    background: #f5c781;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}

#check{
    display: inline-block;
}